* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 350px;
    transition: transform 0.3s;
}

.login-container:hover {
    transform: scale(1.02);
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #6a11cb;
}

h2 {
    margin-top: 20px;
    color: #333;
}

input[type="text"], input[type="password"], input[type="number"], select {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #6a11cb;
    border-radius: 5px;
    width: 100%;
    font-size: 1em;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #2575fc;
    outline: none;
}

button {
    background-color: #6a11cb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    width: 100%;
}

button:hover {
    background-color: #2575fc;
    transform: scale(1.05);
}

.number-checker {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    transition: opacity 0.3s;
    opacity: 0;
}

.result.visible {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
